/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Mulish&family=Rubik&family=Source+Code+Pro&display=swap");

/* General */

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: rgb(92, 92, 92);
}

/* Media */

/* Sections */

.content-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.logo-container {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 50px auto 50px auto;
}
.name {
  font-size: 190px;
  font-family: "Rubik";
  color: rgb(245, 119, 1);
  margin-left: 10px;
}
.addition {
  margin: 20px auto;
  font-size: 40px;
  font-family: "Rubik";
  color: rgb(245, 119, 1);
}
