<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ExcludeMe | Sign up</title>
    <link rel="stylesheet" href="/general/buttons.css" />
    <link rel="stylesheet" href="/general/nav-bar.css" />
    <link rel="stylesheet" href="/general/footer.css" />
    <link rel="stylesheet" href="/signup/signup.css" />
    <link rel="stylesheet" href="/general/inputs.css" />
  </head>
  <body>
    <div class="nav-bar-container">
      <nav class="nav-bar">
        <div class="nav-item" title="Home">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            fill="currentColor"
            class="bi bi-house nav-item-img"
            viewBox="0 0 16 16"
          >
            <path
              d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"
            />
          </svg>
        </div>
        <div class="nav-item" title="Sign In">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            fill="currentColor"
            class="bi bi-person nav-item-img"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"
            />
          </svg>
        </div>
      </nav>
    </div>
    <div class="content-container">
      <div class="sign-in-container">
        <div class="title">Sign up</div>
        <div class="form-control">
          <input
            class="input input-alt"
            placeholder="Username"
            required="true"
            type="text"
            id="username"
          />
          <span class="input-border input-border-alt"></span>
        </div>
        <div class="form-control">
          <input
            class="input input-alt"
            placeholder="Password"
            required="true"
            type="password"
            id="password"
          />
          <span class="input-border input-border-alt"></span>
        </div>
        <div class="form-control">
          <input
            class="input input-alt"
            placeholder="Confirm password"
            required="true"
            type="password"
            id="password-confirm"
          />
          <span class="input-border input-border-alt"></span>
        </div>
        <div class="input-error" id="input-error"></div>
        <button class="cssbuttons-io-button" id="sign-in">
          Sign up
          <div class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-box-arrow-in-right"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"
              />
              <path
                fill-rule="evenodd"
                d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
              />
            </svg>
          </div>
        </button>
      </div>
    </div>
  </body>
  <script src="/signup/signup.js"></script>
</html>
